@mixin container_main {
  display: flex;
  width: 100%;
  height: 720px;
  margin: 20px 0 0 0; /*70px 0 10px 0; 70px para compensar header fiex*/
  padding-bottom: 30px;
  overflow: hidden;
  box-shadow: $boxshadow-tipo1;
}

/* CONTENEDOR DE LOS MAIN DE SECCIONES (EXCEPTO INDEX)*/
@mixin container_secciones($tipo-display, $background-pic-seccion) {
  display: $tipo-display;
  width: 96%;
  height: 650px;

  overflow: hidden;
  box-shadow: $boxshadow-tipo1;
  /* Medidas y posicion de imagen de fondo iran en cada apartado de cada seccion */
  background-image: $background-pic-seccion;
  /* Propiedades de Ubicacion de imagen de fondo de container 
    background-size:80%;
    background-position:left;
    background-repeat: no-repeat;
    background-position-x: -100px; */
}

/* CONTENEDOR GRID DE GALERIA */
@mixin container_grid_secciones($background-pic-seccion) {
  display: grid;
  width: 92%;
  height: 600px;

  overflow: hidden;
  box-shadow: $boxshadow-tipo1;
  /* Medidas y posicion de imagen de fondo iran en cada apartado de cada seccion */
  background-image: $background-pic-seccion;
  /* Propiedades de Ubicacion de imagen de fondo de container 
    background-size:80%;
    background-position:left;
    background-repeat: no-repeat;
    background-position-x: -100px; */
}

/* CONTENEDOR UTILIZADO PARA CONTENER INFORMACION EN ALGUNAS SECCIONES COMO BIOGRAFIA Y TOUR */
@mixin contenedor_informacion(
  $direccion-flex,
  $width,
  $height,
  $backgroundcolor
) {
  display: flex;
  flex-direction: $direccion-flex;
  width: $width;
  height: $height;
  background-color: $backgroundcolor;
  overflow: hidden;
  box-shadow: $boxshadow-tipo1;
}

/* CONTENEDOR DE LOS MAIN DE SECCIONES (EXCEPTO INDEX)*/
@mixin container_secciones_media768($tipo-display, $background-pic-seccion) {
  display: $tipo-display;
  width: 96%;
  height: 650px;
  margin: 70px auto 30px auto; /*70px para compensar header fiex*/
  overflow: hidden;
  box-shadow: $boxshadow-tipo1;
  /* Medidas y posicion de imagen de fondo iran en cada apartado de cada seccion */
  background-image: $background-pic-seccion;
  /* Propiedades de Ubicacion de imagen de fondo de container 
    background-size:80%;
    background-position:left;
    background-repeat: no-repeat;
    background-position-x: -100px; */
}

@mixin estilo_boton_redondo_transparente() {
  font-family: familia_questrial;
  font-size: 40px;
  font-weight: bolder;
  color: white;
  border-color: #ffffff;
  border-style: double;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: auto;
  overflow: hidden;
  &:hover {
    background-color: rgba(34, 9, 100, 0.733);
    transform: scale(1.04);
    box-shadow: $boxshadow-tipo2;
  }
}

@mixin estilo_boton_rectangular_transparente {
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 30px;
  padding: 2px 30px 2px 30px;
  font-family: familia_1;
  font-size: 18px;
  color: #ffffff;
  background-color: transparent;
  border-style: solid;
  border-color: #ffffff;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    background-color: rgba(34, 9, 100, 0.733);
    transform: scale(1.04);
    box-shadow: $boxshadow-tipo3;
  }
}

@mixin estilo-texto-ancla-titulo-seccion($color-texto-titulo-seccion) {
  background-color: transparent;
  font-family: familia_3;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 2.5vh;
  color: $color-texto-titulo-seccion; // rgb(247, 247, 247);
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.68);
  text-decoration: none;
  &:hover {
    transform: scale(1.1);
  }
}

@mixin box-nombre-seccion(
  $color-fondo-titulo-seccion,
  $color-texto-titulo-seccion,
  $color-texto-ancla-titulo-seccion
) {
  //Caja Seccion
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: $ancho-titulo-secciones;
  min-height: 300px;
  background-color: $color-fondo-titulo-seccion;

  //Estilo-texto.
  font-family: familia_3;
  writing-mode: vertical-rl;
  text-orientation: upright;

  font-size: 2.5vh;
  color: rgb(255, 255, 255);
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.68);
  text-decoration: none;

  //Solo para los que tienen un ancla adentro.
  a {
    background-color: transparent;
    text-decoration: none;
    color: $color-texto-ancla-titulo-seccion;
    &:hover {
      transform: scale(1.1);
    }
  }
}

@mixin box-nombre-seccion-mexicoflag() {
  width: $ancho-titulo-mexicoflag;
  display: flex;
  flex-direction: column;
  height: auto;

  .colorflag1 {
    background-color: $color-verde-mexico-flag;
    width: 100%;
    height: 15%;
  }

  .colorflag2 {
    display: flex;
    flex-direction: row;
    background-color: $color-blanco-mexico-flag;
    width: 100%;
    height: 70%;
    justify-content: center;
    align-items: center;
    //Estilo texto.
    font-family: familia_3;
    text-orientation: upright;
    writing-mode: vertical-rl;

    font-size: 2.5vh;
    color: black;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.68);
    text-decoration: none;
  }
  .colorflag3 {
    background-color: $color-rojo-mexico-flag;
    width: 100%;
    height: 15%;
  }
}
