@media (max-width: 576px) {
  .section-conciertos {
    flex-direction: column;

    .section-name-conciertos {
      flex-direction: row;
      align-self: center;
      width: 96%;
      margin-top: 15px;
      margin-bottom: 15px;
      margin-left: 0;
      align-content: center;
      min-height: 40px;

      .colorflag1 {
        width: 30%;
        height: 40px;
      }
      .colorflag2 {
        width: 40%;
        height: 40px;
        writing-mode: horizontal-tb;
        text-orientation: sideways;
      }
      .colorflag3 {
        width: 30%;
        height: 40px;
      }
    }
    .conciertos-contenido {
      align-self: center;
    }
  }
}
