@media (max-width: 576px) {
  .galeria-pics {
    flex-direction: column;
    align-items: center;
    .galeria-pics-titulo {
      width: 96%;
      margin-top: 15px;
      margin-bottom: 15px;
      margin-left: 0;
      align-self: center;
      min-height: 40px;
      writing-mode: horizontal-tb;
    }
    .galeria-pics-wraper {
      width: 96%;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 50px;
    }
  }
  .galeria-videos {
    flex-direction: column;
    align-items: center;
    .galeria-videos-titulo {
      width: 96%;
      margin-top: 15px;
      margin-bottom: 15px;
      margin-left: 0;
      align-self: center;
      min-height: 40px;
      writing-mode: horizontal-tb;
    }
    .galeria-videos-wraper {
      width: 96%;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 50px;
    }
  }
}
